
$BG: #f1d145;
$BASE: white;
$ACCENT: black;

body {
    background-color: $BG;
    margin: 0;
}

.outline {
    background-color: $BASE;
    border: 0.2rem solid $ACCENT;
}

.standard-link {

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.head {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;

    #head-logo {
        width: 1.5rem;
        margin: 0 1.5rem 0 0;
    }

    #head-title {
        font-weight: bold;
        margin: 0 2rem 0 0;
        font-size: 1.7rem;
    }
    nav * {
        margin-right: 1.5rem;
        font-weight: bold;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    background-color: $BG;
    border-top: 0;
    border-bottom: 0;

    .main {
        display: grid;
        max-width: 40rem;
        height: 100rem;
        border-top: 0;
        border-bottom: 0;
        grid-template: 4rem 1fr 20rem / 1fr 1fr;
        grid-template-areas: 
            "title title"
            "text scale"
            "foot foot";
        
        * {
            padding: 1rem;
        }
        
        #grid-title {
            display: flex;
            grid-area: "title";
            grid-column: span 2;
            justify-content: center;
            align-items: center;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            margin: 0;
            
        }
        #grid-text {
            grid-area: "text";
        }
        #grid-scale {
            grid-area: "scale";
        }
        #grid-foot {
            grid-area: "foot";
            grid-column: span 2;
            background-color: $ACCENT;
            color: $BASE;
        }
    }
    
}

.foot {
    display: flex;
    position: relative;
    bottom: 0;
    padding: 0.5rem;
    justify-content: space-between;

    div {
        margin: 0 0.5rem;
        * {
            margin-right: 1rem;
        }
    }
}