
$BG: #f1d145;
$BASE: white;
$HIGHLIGHT: black;
$HEADER-SIZE: 5rem;

:export {
    HEADER-SIZE: $HEADER-SIZE;
}

$ACCENTS: (
    "1": #03ff00,
    "2": #89ff00,
    "3": #d6ff00,
    "4": #ffe600,
    "5": #ff8600,
    "6": #ff4d00,
    "7": #ff0a00,
);

html, body {
    scroll-behavior: smooth;
}

body {
    background-color: $BG;
    margin: 0;
}


// Link Destyling
a {
    text-decoration: none;
    color: $BASE;
}

.outline {
    background-color: $BASE;
    border: 0.2rem solid $HIGHLIGHT;
}

.standard-link {

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

#header {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    width: 100%;
}

#sections-dropdown {

}

.head {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    user-select: none;

    #head-logo {
        width: 1.5rem;
        margin: 0 1.5rem 0 0;
    }

    #head-title {
        font-weight: bold;
        margin: 0 2.5rem 0 0;
        font-size: 1.7rem;
    }
    nav {
        display: flex;
        flex-wrap: wrap;

        * {
            padding: 1rem;
            margin-right: 0rem;
            font-weight: bold;
        }
    }
}

.dropdown-groups {
    display: none;
    //display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: $HIGHLIGHT;
    color: $BASE;
    padding: 1rem 5rem;
    max-height: 35rem;

    * {
        width: 15rem;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    *:last-child {
        margin-bottom: 0.5rem;
    }
}

#dropdown-bg {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: black;
}

@mixin align-scale-content {
    align-self: center;
}

.main-container {
    display: flex;
    justify-content: center;
    background-color: $BG;
    background: linear-gradient(#ffffff 1%,$BG 10% 88%,#502e2e 100%);
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    height: auto;

    .main {
        display: grid;
        max-width: 40rem;
        height: auto;
        border-top: 0;
        border-bottom: 0;
        grid-template-rows: 4rem 1fr 20rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "title title"
            "text scale"
            "foot foot";
        
        * {
            padding: 1rem;
        }
        
        .grid-title {
            display: flex;
            grid-area: "title";
            grid-column: span 2;
            justify-content: center;
            align-items: center;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            margin: 0;
            
        }
        .grid-text {
            grid-area: "text";
            padding: 0;
            border-right: solid 3px black;

            section {
                border-bottom: solid 3px black;
                scroll-margin-top: $HEADER-SIZE;

                * {
                    padding: 1rem;
                }
    
                h3 {
                    margin: 0;
                }
                p {
                    margin: 0;
                    padding-top: 0rem;
                    
                }
            }
            section:last-child {
                border-bottom: 0;
            }
        }
        .grid-scale {
            grid-area: "scale";
            padding: 0;
            background: linear-gradient(#16180e, #180e0e);

            section {
                display: flex;
                flex-direction: column;
                background-color: $HIGHLIGHT;
                color: $BASE;
                height: 20rem;
                margin-bottom: 10rem;
                justify-content: space-evenly;
                scroll-margin-top: $HEADER-SIZE;

                div {

                    h3 {
                        padding: 0;
                        margin: 0rem 0 0.2rem 0;
                    }
                    p {
                        padding: 0;
                        margin: 0 0 0rem 0;
                        font-size: smaller;
                        color: rgba($color: $BASE, $alpha: 0.5);
                    }
                }
            }

            @for $i from 1 through 7 {
                section:nth-child(#{$i}) {
                    display: grid;
                    grid-template: 1fr 1fr / 1fr 8rem 0rem;
                    grid-template-areas: 
                        "scale-title1 scale-img1 scale-bar"
                        "scale-title2 scale-img2 scale-bar"
                        ;
                    //border-right: 10px solid map-get($ACCENTS, #{$i});
                    //align-items: center;

                    * {
                        //display: flex;
                        //border: 0.1rem solid $BASE;
                        padding: 0;
                        //align-items: center;

                    }



                    .scale-title1 {
                        grid-area: "scale-title1";
                        @include align-scale-content
                        
                    }
                    .scale-img1 {
                        grid-area: "scale-img1";
                        width: 3.5rem;
                        justify-self: center;
                        @include align-scale-content
                    }
                    .scale-title2 {
                        grid-area: "scale-title2";
                        grid-row-start: 2;
                        @include align-scale-content
                    }
                    .scale-img2 {
                        grid-area: "scale-img2";
                        grid-row-start: 2;
                        width: 3.5rem;
                        justify-self: center;
                        @include align-scale-content
                    }
                    .scale-bar {
                        display: flex;
                        grid-area: "scale-bar";
                        grid-row: 2 span;
                        grid-column-start: 3;
                        justify-content: center;
                        align-items: center;
                        border-radius: 1rem;

                        div {
                            background-color: map-get($ACCENTS, #{$i});
                            width: 1rem;
                            overflow: auto;
                            height: 100%;
                            border-left: 0.5rem solid map-get($ACCENTS, #{$i} );
                        }
                    }
                }
            }
        }
        .grid-foot-container {
            display: flex;
            grid-area: "foot";
            grid-column: span 2;
            background-color: $HIGHLIGHT;
            color: $BASE;
            justify-content: center;
        }
        .grid-foot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;

            p {
                padding: 0;
                margin-bottom: 2rem;
            }
            p:first-child {
                color: rgba($color: $BASE, $alpha: 0.5);
            }
            p:last-child {

            }
        }
    }
    
}

@media (max-width: 650px) {

    .main {
        display: flex !important;
        flex-direction: column;
        border: 0;
        
        /*
        background-color: rebeccapurple;
        display: grid;
        grid-template-rows: 4rem 1fr 20rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "text"
            "scale"
            "foot";
        
            .grid-title {
                grid-column: span 1;
            }
            .grid-foot-container {
                grid-column: span 1;
            }
        */
    }
}

#scrolltotop-btn {
    position: fixed;
    bottom: 4rem;
    width: 8rem;
    margin-right: -3.8rem;
    right: 50%;
    z-index: 1;
    padding: 0.5rem;
    border: 0.2rem solid $HIGHLIGHT;
    border-radius: 2rem;
    background-color: $BASE;
    color: $HIGHLIGHT;
    transition: opacity 600ms;
    opacity: 1;

    &:hover {
        cursor: pointer;
        filter: brightness(0.8);
    }
    &:active {
        cursor: pointer;
        filter: invert(1);
    }
}

.on-top {
    display: none;
    opacity: 0;
}

.foot {
    display: flex;
    position: relative;
    bottom: 0;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    height: fit-content;

    div {
        margin: 0 0.5rem;
        * {
            margin-right: 1rem;
        }
    }
}